Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Notification-csharp.sln
Notification-csharp.sublime-workspace
Notification.sln
ProjectSettings/
Library/
Temp/
NTver1.apk
NTver2.apk

Assets/Scripts/Notification.sublime-project
Assets/Scripts/Notification.sublime-workspace
.android.lnk
Android Studio.lnk
Android.lnk
Android_achievement/
monitor.bat
Assembly-CSharp-firstpass.csproj
Assets/Scripts/Notification.sublime-workspace
Assets/\345\217\202\350\200\203.txt
Assets/SimpleNotificationForAndroid/
Assets/SimpleNotificationForAndroid.meta
Assets/Resources/Sample/
Assets/参考.txt
Assets/参考.txt.meta
Assets/AppData/
beta.apk
AndroidManifest.otify4.xml
Assets/Scripts/Notification.sublime-workspace.meta
Assembly-CSharp-firstpass.csproj
